* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gold;
}

.nav-menu ul {
  display: flex;
  gap: 16px;
}

.nav-menu ul li {
  list-style: none;
}

button {
  background-color: #30b868;
  color: white;
  border: 1px solid #30b868;
  border-radius: 2px;
  padding: 4px 5px;
}

button:hover {
  background-color: #054b22;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: rgb(110, 110, 8);
  color: white;
  cursor: pointer;
}

.banner {
  display: flex;
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-size: auto;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  border: red 1px solid;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.heading-top {
  border: 1px solid white;
  background-color: white;
  color: #30b868;
  border-radius: 10px;
  padding: 5px 3px;
}

.description {
  color: white;
  text-align: center;
}

.note {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(13, 58, 77);
}
.note-cards {
  display: flex;
  gap: 16px;
  width: 80%;
}
.card {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(240, 230, 176);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 1/4;
  text-align: center;
}

.card .card-title {
  font-weight: 600;
}

.card .card-icon {
  background-color: #f95555;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.second-brain {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.second-brain-section-message {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.second-brain-list ul li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.second-brain-list ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("./assets/CheckCircle.png");
  background-size: contain;
  background-repeat: no-repeat;
}
